$paddingTop: 2rem;
$padding: 2rem;
$menuShadowColor: #1f1f1f;
$menuShadowColorActive: #333333;

@font-face {
    font-family: Cinzel;
    src: url('../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
}

@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}

html {
    font-size: 14px;
}
body {
    font-family: Raleway;
    padding: 5rem 0;
}

header {
    padding: $padding $padding 0 $padding;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    color: #f0eeec;
    background-color: #242424;

    nav {
        display: inline-flex;
        // background-color: #f0eeec;
        padding: 0.3rem 0 0.3rem 0.3rem;
    }

    svg {
        position: absolute;
        bottom: 0rem;
        right: 5rem;
    }
    #g14 {
        fill: #7994ff;
    }

    #path16, #path18 {
        fill: #f0eeec;
    }

    button {
        height: 2rem;
        width: 6.5rem;
        margin-right: 0.6rem;
        outline: none;
        border: none;
        border-radius: 0;
        color: hsl(30, 12%, 85%);
        background-color: $menuShadowColor;
        box-shadow: 0px -0.2rem 0px $menuShadowColor, 0.2rem 0px 0px $menuShadowColor, 0px 0.2rem 0px $menuShadowColor, -0.2rem 0px 0px $menuShadowColor,
                    -0.2rem -0.2rem 0px $menuShadowColor, -0.2rem 0.2rem 0px $menuShadowColor, 0.2rem 0.2rem 0px $menuShadowColor, 0.2rem -0.2rem 0px $menuShadowColor;
    }

    button.active {
        background-color: $menuShadowColorActive;
        box-shadow: 0px -0.2rem 0px $menuShadowColorActive, 0.2rem 0px 0px $menuShadowColorActive, 0px 0.2rem 0px $menuShadowColorActive, -0.2rem 0px 0px $menuShadowColorActive,
            -0.2rem -0.2rem 0px $menuShadowColorActive, -0.2rem 0.2rem 0px $menuShadowColorActive, 0.2rem 0.2rem 0px $menuShadowColorActive, 0.2rem -0.2rem 0px $menuShadowColorActive;
    }

    button:hover {
        cursor: pointer;
    }
}

#view {
    padding: 8rem $padding $padding $padding;
    z-index: 0;
}

#analyses {
    h3 {
        margin-top: 0;
    }

    .info {
        margin-left: 3.5rem;
        margin-top: 0;
    }
}

#meta {
    .stats-container {
        flex-direction: column;
        align-items: center;
    }
}

.description {
    width: 400px;
}
h1 {
    font-family: Cinzel;
    font-size: 4rem;
    margin: 0;
    line-height: 4rem;
}

h3 {
    margin-top: 2rem;
}

article {
    display: flex;
    flex-direction: column;
}

#chart-types {
    display: flex;
    justify-content: center;
}

#chart-1 {
    order: 3;
}

.view {
    div {
        margin-top: 2rem;
    }
}

.stats-container {
    display: flex;
    flex-wrap: wrap;

    .flex-1 {
        order:1;
    }

    .flex-2 {
        order:2;
    }

    .flex-3 {
        order:3;
    }
}

.barchart-container {
    margin-top: 3rem;
}

.barchart {
    transform: scaleY(-1);
    rect {
        fill: #343434;
        animation: rect-anim;
        animation-direction: reverse;
        animation-duration: 1s;
    }
}

.histogram {
    rect {
        opacity: 0;
        fill: #343434;
        animation: histo-rect-anim;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

.info {
    margin-left: 3rem;
    .flex {
        display: flex;

        p {
            margin: 0 1rem 0 0;
        }
    }
}

.bar-text {
    transform: scaleY(-1);
}

.bar-info {
    font-family: monospace;
    fill: #dcdcdc;
    transform: scaleY(-1);
    font-weight: Bold;
    animation: info-anim;
    animation-direction: reverse;
    animation-duration: 1s;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.none {
    display: none;
}
.display {
    display: block;
}


#scatter-1 {
    order: 2;
}

#heatmap {
    order: 1;
    display: flex;
    flex-direction: column;

    h2 {
        // margin-top: 5rem;
        // margin-left: 4.25rem;
    }

    rect {
        font-size: 0.65rem;
    }

    g {
        font-size: 0.65rem;

    }

    .order1 {
        animation: fade-anim;
        animation-direction: reverse;
        animation-duration: 0.3s;
    }
    .order2 {
        animation: fade-anim;
        animation-direction: reverse;
        animation-duration: 0.6s;
    }
    .order3 {
        animation: fade-anim;
        animation-direction: reverse;
        animation-duration: 0.9s;
    }
    .order4 {
        animation: fade-anim;
        animation-direction: reverse;
        animation-duration: 1.2s;
    }
    .order5 {
        animation: fade-anim;
        animation-direction: reverse;
        animation-duration: 1.5s;
    }
    .order6 {
        animation: fade-anim;
        animation-direction: reverse;
        animation-duration: 1.8s;
    }

    .map-content {
        order: 2;
    }

    #tooltip {
        order: 1;
        height: 2rem;
        width: 100%;
    }

    #legend, #tooltip {
        margin-left: 4.25rem;
    }

    #legend {
        order: 3;
    }

    
}



@keyframes histo-rect-anim {
    100% {
        opacity: 1;
    }
}

@keyframes rect-anim {
    100% {
        height: 0;
    }
}

@keyframes info-anim {
    100% {
        opacity: 0;
    }
}

@keyframes fade-anim {
    100% {
        opacity: 0;
    }
}

.dot {
    fill: #343434;
}

.undefined .dot {
    cx: 50;
}

.anim.dot{
    animation: dot-anim;
    animation-direction: reverse;
    animation-duration: 1s;
}

.dot.orange {
    fill: hsl(39, 50%, 50%);
}

.legend {
    // fill: red;
}

@keyframes dot-anim {

    100% {
        cx: 50;
    }
}